<form action="/api/task" method="POST" id="task-form">
    <div class="mb-3">
        <input type="hidden" name="id" />
        <label for="newTask" class="form-label">New Task</label>
        <input class="form-control" type="text" for="newTask" name="task" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3">Add Task</button>
    </div>
</form>
